.slides{
    width: 400px;
    height: 200px;
   position: relative;
   margin: auto;
}
img{
    width: 400px;
    height: 200px;
    display: none;
}
.slide{
    position:absolute;
}
.rightButton{
    position: absolute;
    left: 0;
    top: 50%;
}
.leftButton{
    position: absolute;
    right: 0;
    top: 50%;

}
.indicator{
    position: absolute;
    bottom: -25%;
    left: 40%;
}
